*/*/*/*~
*/*~
*~

*/*/*/*#
*/*/*#
*/*#
*#

data/.Rhistory
/data/RawTestTableModications.R

*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pychache__


*/*$*.xlsx
*/*/*$*.xlsx
*/*/*/*$*.xlsx
*/*/*/*/*$*.xlsx

*/scratch*
*/*/scratch*
*/*scratch*
*/*/*scratch*

*/#*
*/#*/#*

.*
*/.*
*/*/.*

*/*.log

LTER_connect*

db/dbcreation/dbcreation.py
db/dbcreation/#*

/Icon*
development/classesdev/.#modelview2d_pdnp.py

GUI/qtdesigner/uiviewer_design/
GUI/qtdesigner/integratedui_design/FinalForm.ui
GUI/qtdesigner/integratedui_design/dblog_ajb.txt
GUI/qtdesigner/integratedui_design/config.py
GUI/qtdesigner/integratedui_design/testinput.txt
GUI/qtdesigner/integratedui_design/Maintenance/*
GUI/qtdesigner/integratedui_design/Logs_Tables_Converted/*
GUI/qtdesigner/integratedui_design/Logs_Tables_Converted/*
GUI/qtdesigner/integratedui_design/Logs_DbTransactions/*
GUI/qtdesigner/integratedui_design/Logs_DbTransactions/*/*
GUI/qtdesigner/integratedui_design/Logs_UserInput/*
GUI/qtdesigner/integratedui_design/.emacs*
GUI/qtdesigner/integratedui_design/.R*
GUI/qtdesigner/integratedui_design/.#*
GUI/qtdesigner/integratedui_design/#*

UMLdiagrams/*~

test/#*
test/.coverage
test/config.py
test/logging.config
test/Logs*/*
test/scratch2*
test/scratch3*
test/obsolete*
test/incomplete*
test/*/incomplete*
test/*/*/incomplete*

test/DatabaseConfig/nopy*

LTER*
_Ubuntu*

*/*/*/.DS_Store
*/*/.DS_Store
*/.DS_Store
/.DS_Store

test/DatabaseConfig/covar_table_test.csv
test/DatabaseConfig/main_table_test.csv
test/DatabaseConfig/raw_data_test.csv
test/DatabaseConfig/raw_table_test.csv
test/DatabaseConfig/site_table_test.csv
test/DatabaseConfig/taxa_table_test.csv
test/DatabaseConfig/time_table_test.csv
test/DatabaseConfig/update_rec1.py

poplerGUI/Metadata*/cover_na*
poplerGUI/Logs*/*

test/Dataset_manual_test/raw_data_test_6.csv
test/logiclayer/Logs_DbTransactions/*
test/logiclayer/Logs_UI/*
test/logiclayer/scratch.py
