*/*.py~
*.py~

data/.Rhistory
/data/RawTestTableModications.R

*/__pycache__
*/__pycache__/*
*/*/__pycache__


development/classesdev/.#modelview2d_pdnp.py
GUI/qtdesigner/uiviewer_design/

*/*/*/.DS_Store
*/*/.DS_Store
*/.DS_Store
/.DS_Store


