*/*.py~
*.py~

data/.Rhistory
/data/RawTestTableModications.R

*/__pycache__
*/__pycache__/*
*/*/__pycache__
*/*/*/__pycache__
*/_*

.*
*/.*
*/*/.*


*.ini
*/*.ini
*/*/*.ini

development/classesdev/.#modelview2d_pdnp.py

GUI/qtdesigner/uiviewer_design/
GUI/qtdesigner/integratedui_design/FinalForm.ui
GUI/qtdesigner/integratedui_design/dblog_ajb.txt
GUI/qtdesigner/integratedui_design/testinput.txt

*/*/*/.DS_Store
*/*/.DS_Store
*/.DS_Store
/.DS_Store


