alabaster==0.7.7
alembic==0.8.6
autopep8==1.2.1
Babel==2.2.0
coverage==4.1
docutils==0.12
flake8==2.5.4
importmagic==0.1.5
Jinja2==2.11.3
Mako==1.0.4
MarkupSafe==0.23
mccabe==0.4.0
numpy==1.10.4
pandas==0.17.1
pep8==1.7.0
pprintpp==0.2.3
psutil==5.0.0
psycopg2==2.6.1
py==1.4.31
pyflakes==1.0.0
Pygments==2.1
pytest==2.9.1
pytest-cov==2.2.1
pytest-qt==1.11.0
python-dateutil==2.4.2
python-editor==1.0.1
pytz==2015.7
requests==2.9.1
requirements-parser==0.1.0
rope==0.10.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.4
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.0.11
urllib3==1.14
yapf==0.8.2
