# List of loggers to call when logging informatoin
[loggers]
keys=root,setup,nullvalue,site,sitecheck,main,taxa,season,time,raw,cov

# List of handlers to call when logging
[handlers]
keys=fileHandler,consoleHandler

# List of formaters
[formatters]
keys=myFormatter

# Logger: root
[logger_root]
level=CRITICAL
handlers=consoleHandler

# Logger: setup
[logger_setup]
level=INFO
handlers=fileHandler
qualname=setup

# Logger: nullvalue
[logger_nullvalue]
level=INFO
handlers=fileHandler
qualname=nullvalue

# Logger: site information
[logger_site]
level=INFO
handlers=fileHandler
qualname=site

# Logger: site checkbox info
[logger_sitecheck]
level=INFO
handlers=fileHandler
qualname=sitecheck

# Logger: main table information
[logger_main]
level=INFO
handlers=fileHandler
qualname=main

# Logger: taxa table info
[logger_taxa]
level=INFO
handlers=fileHandler
qualname=taxa

# Logger: season information
[logger_season]
level=INFO
handlers=fileHandler
qualname=season

# Logger: temporal informatoin
[logger_time]
level=INFO
handlers=fileHandler
qualname=time

# Logger: raw information
[logger_raw]
level=INFO
handlers=fileHandler
qualname=raw

# Logger: covariate information
[logger_cov]
level=INFO
handlers=fileHandler
qualname=cov


# Handler: console
[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=myFormatter
args=(sys.stdout,)

# Handler: file
# file handler class writes output to disk
[handler_fileHandler]
class= class_MyFileHandler.MyFileHandler
formatter=myFormatter
level=DEBUG
args=("Logs_UserInput/gui_record",)

# formatter
[formatter_myFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
